@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.App {
  text-align: center;
}
.Body{
  font-family: 'Poppins';
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Content{
  padding-top: 20vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: #11072f;
  display: block;
  min-height: 100vh;
  color: white;
}
.imgHeader{
  padding-bottom: 10vh;
  padding-left: 44vw;
  margin-top: -10vh;
}
#buttonLikes{
  background-color: #6A4DBC;
}
.Likes{
  padding-bottom: 5vh;  
}
.Prueba{
  width: 40vw;
  height: auto;
  margin-left: 5vw;
}
.App-header {
  background-color: #11072f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.CardsContent{
  padding-bottom: 5vh;
}
.CardsBody{
  background-color: #6A4DBC;
  font-family: 'Poppins';
}
.App-link {
  color: #61dafb;
}
.Like{
  margin-top: -8vh;
  margin-left: 7vw;
}
.thumnail{
  border-radius: 8px;
}
.card-img-top{
  width: 50%;
}
.Legend{
  margin-left: 10vw;
  margin-top: -20vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
